<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="5"
	android:versionName="1.5"
	package="com.vasilakos.LeleDroid">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<receiver
			android:name=".StrWidget"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget" />
		</receiver>
		<activity
			android:name=".StrWidgetConfig"
			android:label="@string/widgetTitle">
			>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity
			android:name=".leleDroid"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Str"
			android:label="str"></activity>
		<activity
			android:name=".Info"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:label="@string/info"></activity>
		<activity
			android:name=".Properties"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:label="@string/str"></activity>
		<activity
			android:name=".Details"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:label="@string/detailsTitle"></activity>
		<activity
			android:name=".ChartView"
			android:label="@string/chart"
			android:theme="@android:style/Theme.Dialog"></activity>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
	<uses-sdk android:minSdkVersion="7" />
</manifest> 